function Button ({textStyle, children, ...props}) {
  return (
    <Touchable {...props} >
      <Text style={textStyle}>
        {children}
      </Text>
    </Touchable>
  )
}

const touchableProps = mapProps(
  ({color, ...props}) => ({
    ...props,
    color,
    touchableUnderlay: darken(color, 0.2)
  })
)

const Touchable = touchableProps(
  glamorous.touchableHighlight(
    {
      alignItems: 'center',
      justifyContent: 'center'
    },
    ({large, color}) => ({
      padding: large ? 40 : 20,
      backgroundColor: color
    })
  )
)

const Text = glamorous.text(
  ({color, large}) => ({
    fontSize: large ? 16 : 14,
    color: isLight(color) ? '#FFF' : '#000'
  })
)
