function Button ({textStyle, color, large, children, ...props}) {
  const textColor = isLightColor(color) ? styles.darkText : styles.lightText;
  const underlayColor = darken(color, 0.2)
  const padding = large ? 40 : 20
  const backgroundColor = color

  return (
    <TouchableUnderlay
      underlayColor={underlayColor}
      style={[
        styles.touchable,
        {backgroundColor, padding}
        style,
      ]}
      {...props}
    >
      <Text
        style={[
          styles.text,
          textColor,
          textStyle
        ]}
      >
        {children}
      </Text>
    </TouchableUnderlay>
  )
}

const styles = StyleSheet.create({
  touchable: {
    padding: 20,
    alignItems: 'center',
    justifyContent: 'center'
  },
  text: {
    fontSize: 12
  },
  lightText: {
    color: '#fff'
  },
  darkText: {
    color: '#000'
  }
})
