function getUsers() {
    return [
        {name: 'Tom', age: 19},
        {name: 'Joe', age: 25},
        {name: 'Bob', age: 30},
        {name: 'Jim', age: 30}
    ]
}

function filterUsersByAge (age) {
    return function (user) {
        return user.age === age;
    }
}

getUsers().filter(filterUsersByAge(30))
// [{name: 'Bob', age: 30}, {name: 'Jim', age: 30}]