const theme = {
  primaryColor: 'white',
  secondaryColor: 'black'
}

<ThemeProvider theme={theme.light}>
  <Screen>
    <Title>Hello World</Title>
  </Screen>
</ThemeProvider>

const Screen = glamorous.view(
  {flex: 1},
  (props, theme) => ({
    backgroundColor: theme.primaryColor
  })
)

const Title = glamorous.view(
  (props, theme) => ({
    color: theme.secondaryColor
  })
);
