function BaseText({style, large, ...props}) {
  const fontSize = large ? 18 : 14;

  return (
    <Text
      // forward styles
      style={[styles.defaultText, {fontSize}, style]}

      // forward props
      {...props}
    />
  )
}

const styles = StyleSheet.create({
  defaultText: {
    color: '#000',
    fontFamily: '...'
  }
})
