function BaseText({style, ...props}) {
  return (
    <Text
      // forward styles
      style={[styles.defaultText, style]}

      // forward props
      {...props}
    />
  )
}

const styles = StyleSheet.create({
  defaultText: {
    fontSize: 14,
    color: '#000',
    fontFamily: '...'
  }
})
